/*
    General Styles
*/

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor {
    scroll-margin-top: 75px;
}

/*
    Font Styles
*/

h1 {
    font-size: 60px;
    font-weight: 200;
}

h2 {
    font-size: 40px;
    font-weight: 200;
}

h3 {
    font-size: 25px;
    font-weight: 400;
}

.nav-logo-text {
    font-size: 20px;
    font-weight: 200;
}

.resume-item-title, .project-title {
    font-size: 18px;
    font-weight: 600;
}

.about-text, .about-button {
    font-size: 18px;
    font-weight: 400;
}

p, .nav-link, .hero-subheading {
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, .hero-subheading, .about-text, .project-title {
    margin: 0.5rem 0px;
}

.project-title {
    margin-top: 0.75rem;
}

p, .nav-logo-text, .nav-link, .resume-item-list{
    margin: 0.25rem 0px;
}

.nav-link:hover {
    text-decoration: underline;
}

.hero-subheading {
    text-transform: uppercase;
}

.about-button, .resume-items {
    color: #090224;
}

/*
    All Section Styles
*/

.hero-section, .about-section, .resume-section, .projects-section, .contact-section, .footer-section {
    background-color: #090224;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content, .about-content, .resume-content, .projects-content, .contact-content {
    box-sizing: border-box;
    max-width: calc(1500px + 4rem);
    width: 100%;
    height: 100%;
}

/*
    Nav Section Styles
*/

.nav-section, .nav-content {
    width: 100%;
    height: 75px;
}

.nav-section {
    position: fixed;
    overflow: hidden;
}

.nav-background {
    background-image: url("Images/Backgrounds/hero-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.nav-content {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo-image {
    width: 50px;
    height: 50px;
}

.nav-logo-text {
    padding: 0px 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    padding-left: 20px;
}

/*
    Hero Section Styles
*/

.hero-section {
    background-image: url("Images/Backgrounds/hero-background.jpg");
    background-size: cover;
    min-height: calc(100vh - 75px);
    padding-top: 75px;
}

.hero-content {
    padding-bottom: 15rem;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.hero-text {
    max-width: 60%;
    text-align: right;
}

/*
    About Section Styles
*/

.about-section {
    padding: 4rem 0px;
}

.about-content {
    padding: 4rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        "info image"
    ;
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.about-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 2px solid white;
    padding-right: 2rem;
}

.about-button {
    background-color: white;
    border: none;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.about-image {
    grid-area: image;
    width: 100%;
    max-height: 75vh;
    aspect-ratio: 1/1;
    border-radius: 5rem;
    object-fit: cover;
}

/*
    Resume Section Styles
*/

.resume-content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.resume-items {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    grid-template-areas: 
        "education work"
        "skills work"
    ;
    padding-top: 1rem;
}

.resume-education {
    grid-area: education;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.resume-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.resume-item-logo {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-item-logo-image {
    width: 75%;
    height: 75%;
    border-radius: 5px;
    object-fit: contain;
}

.resume-item-content {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.resume-skills {
    grid-area: skills;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.resume-skills-logos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-content: space-around;
}

.resume-skills-logo {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    place-self: center;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-skills-logo-image {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    object-fit: contain;
}

.resume-skills-spacer {
    grid-column: span 2;
}

.resume-work {
    grid-area: work;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.resume-item-skills {
    align-self: flex-end;
    width: 90%;
    display: none;
}

/*
    Projects Section Styles
*/

.projects-content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects-items {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 2rem;
    padding-top: 1rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-image {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

/*
    Contact Section Styles
*/

.contact-content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
}

.contact-logo {
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-logo-image {
    width: 75%;
    height: 75%;
    border-radius: 15px;
    object-fit: contain;
}

/*
    Footer Section Styles
*/

.footer-section {
    border-bottom: none;
}

/*
    Breakpoints
*/
@media screen and (max-width: 1250px) {
    .projects-items {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
        gap: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .about-image {
        aspect-ratio: auto;
    }

    .resume-items {
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas:
            "education"
            "work"
            "skills"
        ;
    }
}

@media screen and (max-width: 800px) {
    .about-content, .resume-content, .projects-content, .contact-content {
        padding: 2rem 3rem;
    }

    .nav-background, .hero-section {
        background-position: 15% 0%;
    }

    .about-content {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "info"
        ;
    }

    .about-info {
        border-top: 2px solid white;
        border-right: none;
        padding-top: 2rem;
        padding-right: 0;
    }

    .about-image {
        width: 60vw;
        aspect-ratio: 1/1;
    }

    .projects-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .nav-links {
        display: none;
    }

    .resume-item-list {
        display: none;
    }

    .resume-item-skills {
        display: block;
    }

    .projects-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-height: 500px){
    .about-image {
        height: 50vh;
        width: auto;
        border-radius: 15vh;
    }

    .resume-skills-logo {
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }

    .contact-logo {
        width: 60px;
        height: 60px;
        border-radius: 50px;
    }
}

@media screen and (max-width: 500px), (max-height: 500px){
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }
    
    h3, .nav-logo-text {
        font-size: 18px;
    }

    p, .about-text, .about-button, .resume-item-title, .project-title {
        font-size: 16px;
    }

    .nav-link, .hero-subheading {
        font-size: 14px;
    }

    .nav-section, .nav-content {
        width: 100%;
        height: 50px;
    }

    .nav-logo-image {
        width: 30px;
        height: 30px;
    }

    .hero-section {
        min-height: calc(100vh - 50px);
        padding-top: 50px;
    }

    .about-section {
        padding: 0;
    }

    .resume-education, .resume-skills, .resume-work {
        padding: 1.5rem;
    }
}