body {
    margin: 0;
    font-family: 'Courier New', monospace;
}

.navbar {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-img {
    margin: 5px;
    border-radius: 5vh;
    width: 7vh;
    height: 7vh;
    object-fit: cover;
}

.navbar-a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

section {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me {
    width: 50vw;
}

.profile-img {
    margin: 15px;
    border-radius: 15vh;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
}

.profile-desc {
    width: 30vh;
    text-align: center;
}